header{
    background-color: mediumvioletred;
}
main {
    background-color: mediumvioletred;
}
nav{
    background-color: mediumvioletred;
}
main{
    background-color: whitesmoke;
}
article{
    background-color: white;
}
section{
    background-color: mediumvioletred;
}
footer {
    background-color: mediumvioletred;
}